/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("assets/background/2.png");
}

main {
  flex: 1 0 auto;
}